@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", serif;
    background-image: url('../images/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Title container */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo */
.logo img {
    width: 50px;
}

/* Title and tagline */
.titlename {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    padding-left: 20px;
}

/* Title styling */
.titlename h1 {
    font-size: 40px;
    color: white;
}

/* Tagline styling */
.tagline {
    font-size: 18px;
    color: white;
    font-weight: 400;
    padding-top: 10px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .header {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .logo img {
        width: 40px;
    }

    .titlename h1 {
        font-size: 20px;
    }

    .tagline {
        font-size: 12px;
        padding-left: 0;
    }
}
